{% extends 'base.html' %}

{% block content%}
<div class="container my-3">
  <h2>Login</h2>
  <form method="POST" class="form-register">
    {{form.hidden_tag()}}
    {{ form.email.label(class="form-label fs-4") }}
    {{ form.email(class="form-control", placeholder="Enter email") }}

    {{ form.password.label(class="form-label fs-4") }}
    {{ form.password(class="form-control", placeholder="Enter password  ") }}
    

    {{ form.log_in(class="btn btn-md btn-block btn-dark my-3") }}
  </form>
</div>


{% endblock content%}