{% extends 'base.html' %}

{% block content%}
<div class="" style="width:500px; margin:70px auto auto auto; border:4px solid black; padding:20px; border-radius:60px">
  <h2 style="text-align:center;margin:10px">Register</h2>
  <form method="POST" class="form-register">
    {{form.hidden_tag()}}
    {{ form.email.label(class="form-label fs-5") }}
    {{ form.email(class="form-control", placeholder="Enter email") }}

    {{ form.password.label(class="form-label fs-5") }}
    {{ form.password(class="form-control", placeholder="Enter password") }}

    {{ form.conf_password.label(class="form-label fs-5") }}
    {{ form.conf_password(class="form-control", placeholder="Confirm password") }}
    
    <div style="text-align:center ;">
    {{ form.log_in(class="btn btn-md btn-block btn-dark my-3") }}
  </div>
  </form>
</div>

{% endblock content%}